<% content_for :title do %>
  AWS-and-Rails-Portfolio Schedule edit
<% end %>

<% content_for :content do %>
<div class="container">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>スケジュール詳細画面</h1>
    </div>
    <div class="col-12 mt-3 content">
      <%= form_for @schedule do |f| %>
        <div class="field row">
        <label for="plan">予定</label>
        <p><%= f.text_area :plan %></p>
        <label for="importance">重要度</label>
        <p>  <%= f.select :importance, [['低', '低'], ['中', '中'], ['高', '高']], {}, class: 'form-control' %></p>
      </div>
      <div class="actions row">
        <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.submit "スケジュール更新", class: "btn btn-sm btn-hachiss" %>
        </div>
      <% end %>
      <div class="col-12 text-right">
        <%= link_to '戻る', schedules_path %>
      </div>
    </div>
  </div>
</div>
<% end %>