<% content_for :title do %>
  スケジュール一覧
<% end %>

<% content_for :content do %>
<div class="container-fluid">
  <h2 class="section-top"><span class="fas fa-dumbbell" aria-hidden="true"></span> Your Schedule</h2>
  <div class="col-md-3 col-sm-12 col-xs-12">
    <%= form_for @schedule, id: 'create-form' do |f| %>
      <div class="field row">
        <label for="plan">予定</label>
        <p><%= f.text_area :plan %></p>
        <label for="day">日付</label>
        <p><%= f.date_select :day %></p>
        <label for="time">時間</label>
        <p>
            <%= f.collection_check_boxes :time, [["8:00", "8:00"], ["8:30", "8:30"], ["9:00", "9:00"], ["9:30", "9:30"], ["10:00", "10:00"], ["10:30", "10:30"], ["11:00", "11:00"], ["11:30", "11:30"], ["12:00", "12:00"], ["12:30", "12:30"], ["13:00", "13:00"], ["13:30", "13:30"], ["14:00", "14:00"], ["14:30", "14:30"], ["15:00", "15:00"], ["15:30", "15:30"], ["16:00", "16:00"], ["16:30", "16:30"], ["17:00", "17:00"], ["17:30", "17:30"], ["18:00", "18:00"], ["18:30", "18:30"], ["19:00", "19:00"], ["19:30", "19:30"], ["20:00", "20:00"]], :last, :first, { include_hidden: false } do |b| %>
            <%= b.check_box %>
            <%= b.label %>
          <% end %>
        </p>
        <label for="importance">重要度</label>
        <p>  <%= f.select :importance, [['低', '低'], ['中', '中'], ['高', '高']], {}, class: 'form-control' %></p>
      </div>
      <div class="actions row">
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "スケジュール作成", class: "btn btn-sm btn-hachiss" %>
      </div>
    <% end %>
  </div>
  <div class="col-md-9 col-sm-12 col-xs-12">
    <%= week_calendar events: @schedules do |date, schedules| %>
      <%= date.day %>
      <% schedules.each do |schedule| %>
        <div>
          <%= link_to schedule.plan, edit_schedule_path(schedule) %>
        </div>
      <% end %>
    <% end %>
    		<table class="schedule table table-bordered">
			<thead>
				<tr>
					<th>予定</th>
					<th>日付</th>
					<th>時間</th>
					<th></th>
					<th></th>
				</tr>
		  </thead>
			<% @schedules.each do |schedule| %>
				<tbody>
					<tr>
						<td><%= schedule.plan%></td>
						<td><%= schedule.day%></td>
						<td><%= schedule.start_time.in_time_zone("Tokyo").strftime("%Y-%m-%d %H:%M") %></td>
						<td><%=link_to "編集" , edit_schedule_path(schedule),:class=>"btn04"  %></td>
						<td><%=button_to "削除", schedule_path(schedule) , method: :delete , data: {confirm:"削除しますか"} ,:class=>"btn03"%></td>
					</tr>
				</tbody>
			<% end %>
  		</table>
  </div>
</div>
<% end %>