<% content_for :title do %>
  AWS-and-Rails-Portfolio Index
<% end %>
<meta name="csrf-token" content="<%= form_authenticity_token %>" />

<% content_for :content do %>
<h1>ログ情報</h1>
<p id="os-info"></p>
<p id="window-info"></p>

<%= pie_chart @logs.group(:log_message).count, library: { responsive: true } %>


<% if user_signed_in?%>
  <li>アプリケーション一覧</li>
  <li><%= link_to 'Schedule', schedules_path %></li>
<% end %>

<br>
<table>
  <thead>
    <tr>
      <th>ログ情報</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.log_message %></td>
        <td><%= log.created_at %></td>
        <td><%= log.updated_at %></td>
        <td><%= log.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% elsif flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<!-- テスト対象の要素 -->
<p id="test-element">This is a test element.</p>

<!-- JavaScriptテストコードを追加 -->
<script type="text/javascript">
  // ドキュメントが読み込まれたら処理を実行
  $(document).ready(function() {
    // 背景色を赤に変更
    $("#test-element").css("background-color", "red");
  });
  
    // application.js

  //= require jquery
  //= require jquery_ujs
  //= require chartkick
  //= require Chart.bundle
  
  function getOS() {
  var userAgent = window.navigator.userAgent,
    platform = window.navigator.platform,
    macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
    windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
    iosPlatforms = ['iPhone', 'iPad', 'iPod'],
    os = null;

  if (macosPlatforms.indexOf(platform) !== -1) {
    os = 'Mac OS';
  } else if (iosPlatforms.indexOf(platform) !== -1) {
    os = 'iOS';
  } else if (windowsPlatforms.indexOf(platform) !== -1) {
    os = 'Windows';
  } else if (/Android/.test(userAgent)) {
    os = 'Android';
  } else if (/Linux/.test(platform)) {
    os = 'Linux';
  }

  return os;
  }
    // クライアント側のウィンドウ情報をサーバーに送信  
    function getActiveWindowTitle() {
      var activeWindowTitle = document.title; // この部分を適切なコードに置き換える
      return activeWindowTitle;
    }
    
    // サーバーにウィンドウ情報を送信する関数
    function sendLogDataToServer(data) {
      var csrfToken = document.querySelector("meta[name='csrf-token']").getAttribute("content");
      
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/save-log", true); // サーバーのエンドポイントに合わせて変更
      xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhr.setRequestHeader("X-CSRF-Token", csrfToken); // CSRFトークンをヘッダーに追加
      xhr.send(JSON.stringify(data));
    }
    
    function sendActiveWindowInfoToServer() {
      var csrfToken = document.querySelector("meta[name='csrf-token']").getAttribute("content");
      var activeWindowTitle = getActiveWindowTitle();
      var data = {
        active_window: activeWindowTitle,
        authenticity_token: csrfToken // 取得したCSRFトークンを使う
        };
  
    fetch('/save-active-window', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
  .then(response => {
    if (response.ok) {
      console.log('Active window info saved successfully');
    } else {
      console.error('Failed to save active window info');
    }
  })
  .catch(error => {
    console.error('Error saving active window info:', error);
  });
}

// 一定の間隔でアクティブなウィンドウの情報を送信
  setInterval(sendActiveWindowInfoToServer, 30000); // 300秒ごとに送信

    
   // ページが読み込まれたときに最初のOS情報を取得
 document.addEventListener('DOMContentLoaded', function() {
    var clientOS = getOS();
    var osInfoElement = document.getElementById('os-info');
    osInfoElement.textContent = '現在のOS: ' + clientOS;
    
    var activeWindowTitle = getActiveWindowTitle();
    var windowInfoElement = document.getElementById('window-info');
    windowInfoElement.textContent = 'アクティブなウィンドウ: ' + activeWindowTitle;

  　var data = {
    os: clientOS,
    windowInfo: activeWindowTitle
  　};    
  　
    sendLogDataToServer(data);
  });
  
</script>
<% end %>