<!-- ページの内容を定期的に更新するJavaScriptのコード -->
<% content_for :title do %>
  AWS-and-Rails-Portfolio Top
<% end %>
<meta name="csrf-token" content="<%= form_authenticity_token %>" />

<% content_for :content do %>
<h1>ログ情報</h1>
<p id="os-info"></p>
<p id="window-info"></p>

<table>
  <thead>
    <tr>
      <th>ログ情報</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.log_message %></td>
        <td><%= log.created_at %></td>
        <td><%= log.updated_at %></td>
        <td><%= log.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in?%>
  <li><%= link_to 'View Schedule', schedules_path %></li>
<% end %>

<% end %>