<% content_for :title do %>
  AWS-and-Rails-Portfolio Index
<% end %>
<meta name="csrf-token" content="<%= form_authenticity_token %>" />

<% content_for :content do %>
<h1>ログ情報</h1>
<p id="os-info"></p>
<p id="window-info"></p>

<%= pie_chart @logs.group(:log_message).count, library: { responsive: true } %>


<% if user_signed_in?%>

  <li>アプリケーション一覧</li>
  <li><%= link_to 'Schedule', schedules_path %></li>
  <li><%= link_to 'Typing', typing_game_path %></li>
  <li><%= link_to 'RakutenApiService', fetch_and_save_path %></li>
<% end %>

<br>

<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% elsif flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<% end %>