<% content_for :title do %>
  AWS-and-Rails-Portfolio Index
<% end %>
<meta name="csrf-token" content="<%= form_authenticity_token %>" />

<% content_for :content do %>
<h1>ログ情報</h1>
<p id="os-info"></p>
<p id="window-info"></p>

<%= pie_chart @logs.group(:log_message).count, library: { responsive: true } %>


<% if user_signed_in?%>
  <li>アプリケーション一覧</li>
  <li><%= link_to 'Schedule', schedules_path %></li>
<% end %>

<br>
<table>
  <thead>
    <tr>
      <th>ログ情報</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.log_message %></td>
        <td><%= log.created_at %></td>
        <td><%= log.updated_at %></td>
        <td><%= log.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% elsif flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<!-- テスト対象の要素 -->
<p id="test-element">This is a test element.</p>

<!-- JavaScriptテストコードを追加 -->
<script type="text/javascript">
  // ドキュメントが読み込まれたら処理を実行
  $(document).ready(function() {
    // 背景色を赤に変更
    $("#test-element").css("background-color", "red");
  });
</script>
<% end %>